<main *ngIf="!loading && wallpaper !== undefined; else loader">
  <header class="flex justify-between items-center">
    <div class="flex flex-col mb-5 gap-2">
      <p class="text-2xl">{{wallpaper.data.dimension_x}} x {{wallpaper.data.dimension_y}}</p>
      <div class="flex gap-5">
        <span class="flex gap-2">
          <app-heart></app-heart>
          {{wallpaper.data.favorites}}
        </span>
        <span class="flex gap-2">
          <app-eye></app-eye>
          {{wallpaper.data.views}}
        </span>
      </div>
    </div>
    <a [queryParams]="{username: wallpaper.data.uploader.username}" [routerLink]="'/'"
       class="flex gap-3 items-center rounded-full overflow-hidden">
      <img [ngSrc]="wallpaper.data.uploader.avatar['32px']" alt="{{wallpaper.data.uploader.username}}"
           height="32" width="32">
    </a>
  </header>
  <img [height]="wallpaper.data.dimension_y" [ngSrc]="wallpaper.data.path" [width]="wallpaper.data.dimension_x"
       alt="{{wallpaper.data.category}}">
  <footer class="flex flex-wrap mt-2 gap-2">
    <app-tag *ngFor="let tag of wallpaper.data.tags" [category]="tag.name"></app-tag>
  </footer>
</main>
<ng-template #loader>
  <div class="grid place-content-center">
    <spinner></spinner>
  </div>
</ng-template>
